<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>
        Welcome to the bhagvat gita verse
    </h1>

    <div>

      <p>id <%= verse.id %></p>
      <p>name : <%= verse.name %></p>
      <p>slug: <%= verse.slug %></p>
      <p>name_transliterated: <%= verse.name_transliterated %></p>
      <p>summery: <%= verse.chapter_summary %></p>
    
    </div>



    
</body>
</html>